#botonSuma{

    width:200px;
    height: 30px;
    font-size: 20px;
    border-color: rgb(28, 14, 219);
font-family: cursive;
color: black;
   font-weight: 100;
   background: rgb(106, 154, 209);
   
}

#resultado{

    font-size: 70px;
    font-family: cursive;
    color: rgb(4, 40, 56);
    text-align: center;
    
}

#a{
    width:200px;
    height: 30px;
    font-size: 20px;
    border-color: rgb(28, 14, 219);
font-family: cursive;
color: black;
   font-weight: 100;
   background: rgb(106, 154, 209);
   
}

#b{
     width:200px;
    height: 30px;
    font-size: 20px;
    border-color: rgb(28, 14, 219);
font-family: cursive;
color: black;
   font-weight: 100;
   background: rgb(106, 154, 209);
   
}
html{
    background: rgb(166, 224, 247);
}
